<h1>Your question :</h1>
<!-- <p>Find me in app/views/coaching/answer?query=.html.erb</p> -->
<%= @query %>
<br>
<hr>
<h1>Coaching answer :</h1>

<%= @answer %>
<br>
<hr>
<%= link_to "Ask a new question", ask_path %>


